{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <title>Catalogo</title>
</head>
<body>
    {% block content %} 
    <div class="container text-center" style="margin-bottom: 5%;">
        <div class="row" style="margin-bottom: 2%;">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/assets/img/roup1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-success">Comprar</button>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/assets/img/roup2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-success">Comprar</button>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/assets/img/roup3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-success">Comprar</button>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../static/assets/img/roup5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-success">Comprar</button>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../static/assets/img/roup4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-success">Comprar</button>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../static/assets/img/roup6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-success">Comprar</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>